
section{ 
    width:600px; 
 height: 300px;
 
}
p[
docwgrond-wdbr:
with: 500px
boder: 100px
]
p{
bocwprond-color:
width:500px
podding: 50px bonder: 10px
}

header{ 
    wihth: 100%;heidth: 350px;
}